html{
	color:black;
  --dark-color: #f27a7d;
  --light-color: #f7d486;
  --lighter-color: #c5f9d7
}
body {
  background-color: var(--dark-color);
  padding-left: 3%;
  padding-right: 3%;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  /* border: 1px solid black; */
  transition: all 0.3s ease-in-out;
  border: .75rem solid var(--light-color);

  border-radius: 1.2rem;
  background-color: var(--lighter-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cardInner {
  padding: .75rem;
  background-color: var(--lighter-color);
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  border-radius: .8rem;
}

.card.small {
  min-width: 325px;
  width: calc(33% - 1.75rem);
  height: 200px;
  cursor: pointer;
  flex:1;
}

.card.small.raw {
  min-width: 0;
  height: auto;
  width: auto;
  margin-bottom:.25rem;
}

.card.small.hidden {
  min-width: 0px;
}

.card.big {
  width: 100%;
  height: 70vh;
}

.card.hidden {
  height: 0px;
  width: 0px;
  padding: 0px;
  overflow: hidden;
  border: none;
}

.cardHosts {
  margin-top: .25rem;
  background-color: var(--lighter-color);
  padding: 5px;
  border-radius: .3rem;
  max-height: 80px;
  overflow: hidden;
}

.cardDate {
  font-size: small;
  color: #000000BB;
}

.cardTitle {
  font-size: large;
  font-weight: bold;
  max-height: 54px;
  overflow: hidden;
  ;
}

.cardTitle.input {
  width: 100%;
}

.cardNumber {
  display: inline-block;
  font-size: small;
  color: #000000BB;
  padding: 0 .3rem;
  border-radius: 1rem;
  background-color: var(--lighter-color);
  /* margin-bottom:1rem; */
}

.editHeader {
  display: flex;
  gap: 5px;
  justify-content: end;
}

.button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  padding: .25rem .75rem;
  width: auto;
  height: 25px;
  background-color: var(--lighter-color);
  border-radius: .5rem;
}

.flex {
  gap: 5px;
  display: flex;
}

.cardDetails {
  height: 100%;
  padding:.25rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: space-between;
}
.cardDetails button{
  padding: .3em .4em;
  font-size: 1.2em;
  background-color: var(--light-color);
}

.header {
  height: 30px;
  display: flex;
  justify-content: end;
  margin: .5rem 0;
  gap: 10px;
}


.button.loading {
  background-color: #c5c5c5;
  cursor: default;
}

.error {
  background-color: #ffffff;
  color: rgb(16, 0, 0);
  padding: .25rem;
  border-radius: .3rem;
  font-size: small;
  font-weight: bold;
}

.rawEpisodes {
  min-width: 30vw;
  max-width: 30vw;
  height:100vh;
  overflow-y: scroll;
}
.rawDescription{
  font-size: small;
  color: #000000BB;
}
.card.small.raw.selected{
  cursor: default;
}
